body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: url("background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100vw;
    height: 100vh;
    
}

.flex-container{
    background: #ffffff;
    border-radius: 10px;
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: top;   
    font-family:'Work Sans', sans-serif;
}

.avatar-image{
    border-radius: 20px;
    height: 80px;  
    opacity: 0.6;
    margin-top: 40px;
}
.acc{
    text-align: center;
    font-weight: 300;
    color: #0694f3;
    font-size: 36px;
}

.text{
    font-size: 13px;
}


div[aria-label="custom-div"] {
    border: 1px solid red;
}